<h1>映画一覧</h1>
<div class="container">
  <div class="row m-3">
    <div class="col-4">
     <div class="pull-right">
      <%= form_tag(movies_path, method: :get) do %>
        <%= search_field_tag :looking_for, nil, placeholder: 'Movie Title...' %>
        <%= submit_tag '検索' %>
      <% end %>
     </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">タイトル名</th>
            <th scope="col">公開日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
<%# 検索された時にコンテンツを表示する %>
        <%if params[:looking_for].present? %>
            <% movieinfo = JSON.parse((Tmdb::Search.movie(params[:looking_for])).to_json) %>
            ==========<h2><%= params[:looking_for] %>の検索結果</h2>
            ==========
            <% i = 0 %>
            <% while i < movieinfo['table']['results'].count %>
                <tr>
                 <td>
                  <%if movieinfo['table']['results'][i]['table']['title'].present?%>
                    <h3><%= link_to movieinfo['table']['results'][i]['table']['title'],movie_path(movieinfo['table']['results'][i]['table']['id']) %></h3>
                  <%end%>
                 </td>
                 <td>
                  <% if movieinfo['table']['results'][i]['table']['release_date'].present? %>
                    <p class="release-date"><%= movieinfo['table']['results'][i]['table']['release_date'] %></p>
                  <%end%>
                 </td>
                 <td>
                  <% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'],class: "card-img" %></p>
                  <%end%>
                 </td>
                <% i += 1%>
                </tr>
            <%end%>
        <%else%>
        <%# 検索されていない時にトレンドコンテンツを表示する %>
        <h2>本日の世界のトレンド</h2>
            <% i = 0 %>
            <% while i < @movieinfo['table']['results'].count %>
                <tr>
                 <td>
                  <%if @movieinfo['table']['results'][i]['table']['title'].present?%>
                    <h3><%= link_to @movieinfo['table']['results'][i]['table']['title'], movie_path(@movieinfo['table']['results'][i]['table']['id'])%></h3>
                  <%end%>
                 </td>
                 <td>
                  <% if @movieinfo['table']['results'][i]['table']['release_date'].present? %>
                    <p class="release-date"><%= @movieinfo['table']['results'][i]['table']['release_date'] %></p>
                  <%end%>
                 </td>
                 <td>
                  <% if @movieinfo['table']['results'][i]['table']['poster_path'].present? %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movieinfo['table']['results'][i]['table']['poster_path'],class: "card-img" %></p>
                  <%end%>
                 </td>
                <% i += 1%>
                </tr>
            <%end%>
        </tbody>
    <%end%>
    </table>
  </div>
</div>