<div class="container">
  <div class="row m-3">
    <h3>
      <span class="bg-secondary px-2">コンテンツ詳細(映画)</span>
    </h3>
  </div>
  <div class="row m-3">
    <div class="col-4">
      <label>タイトル</label>
      <h3><%= @movie.title %></h3>
      <label>公開日時</label>
      <h3><%= @movie.releasedate %></h3>
      <h3><%= image_tag 'https://image.tmdb.org/t/p/w342' + @movie_info['table']['poster_path'],class: "card-img" %></h3>

    </div>
    <div class="col-7">
      <label>概要</label>
      <h3><%= @movie.intro %></h3>
        <% if @movie.favorited_by?(current_user) %>
          <%= link_to movie_favorites_path(@movie), method: :delete do %>
            <i class="fas fa-heart"></i>
            <%= @movie.favorites.count %></br>
          <% end %>
        <% else %>
          <%= link_to movie_favorites_path(@movie), method: :post do %>
            <i class="far fa-heart"></i>
            <%= @movie.favorites.count %></br>
          <% end %>
        <% end %>
        <%= link_to movies_path do %>
          <label class="btn btn-primary">一覧画面へ戻る</label>
        <% end %>
    </div>
  </div>
  <div class="row m-3">
    <div class="col">

    </div>
  </div>
  <div class="row m-3">
    <h3>
      <span class="bg-secondary px-2">コメント</span>
    </h3>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <p>コメント件数：<%= @movie.movie_comments.count %></p>
        <% @movie.movie_comments.each do |movie_comment| %>
          <p><%= image_tag movie_comment.user.get_image(100,100) %></p>
          <%= movie_comment.user.nickname %> |
          <%= movie_comment.created_at.strftime('%Y/%m/%d') %> | <%= movie_comment.comment %>
          <% if movie_comment.user == current_user %>
            <%= link_to "削除", movie_movie_comment_path(movie_comment.movie, movie_comment), method: :delete,class:"btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: @movie_comment, url: movie_movie_comments_path(@movie.id) do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" ,class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div><!--コメント投稿機能-->
  <div class="row m-3">
    <h3>
      <span class="bg-secondary px-2">レビューを投稿</span>
    </h3>
  </div>
    <div class="col">
      <div>
        <p>レビューコメント件数：<%= @movie.reviews.count %></p>
        <% @movie.reviews.each do |review| %>
          <p><%= image_tag review.user.get_image(100,100) %></p>
          <div id="star-rate-<%= review.id %>"></div>
          <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.star %>,
          });
          </script>
          <%= review.user.nickname %> |
          <%= review.created_at.strftime('%Y/%m/%d') %> | <%= review.comment %>
          <% if review.user == current_user %>
            <%= link_to "削除", movie_reviews_path(review.movie, review), method: :delete,class:"btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if current_user.reviews.find_by(movie_id: @movie.id).present? %>
          <%= form_with model: @review, url: movie_reviews_path(@movie.id), method: :patch do |f| %>
            <div>
              <%= f.label :"レビューコメント"%>
              <%= f.text_area :comment, name: "review[comment]" %>
            </div>
            <div class="form-group row" id="star">
              <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :star, id: :review_star %>
              <%= f.hidden_field :movie_id, :value => @movie.id %>
            </div>
            <!-- 評価javascript -->
            <script>
            $('#star').empty();
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'review[star]',
              half: true
            });
            </script>
            <div>
              <%= f.submit "投稿",class:"btn btn-success" %>
            </div>
          <% end %>
        <% else %>
          <%= form_with model: @review, url: movie_reviews_path(@movie.id), method: :post do |f| %>
            <div>
              <%= f.label :"レビューコメント"%>
              <%= f.text_area :comment, name: "review[comment]" %>
            </div>
            <div class="form-group row" id="star">
              <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :star, id: :review_star %>
              <%= f.hidden_field :movie_id, :value => @movie.id %>
            </div>
            <!-- 評価javascript -->
            <script>
            $('#star').empty();
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',

              scoreName: 'review[star]',
              half: true
            });
            </script>
            <div>
              <%= f.submit "投稿",class:"btn btn-success" %>
            </div>
          <% end %>
        <% end %>
      </div><!--レビュー-->
</div>

