<div class="container">
  <div class="row m-3">
    <h3>
      <span class="bg-secondary px-2">コンテンツ詳細(映画)</span>
    </h3>
  </div>
  <div class="row m-3">
    <div class="col-4">
        <%if @movie['table']['title'].present?%>
         <div class="card">
            <label>タイトル</label>
            <h3><%= @movie['table']['title'] %></h3>
            <label>公開日時</label>
            <h3><%= @movie['table']['release_date'] %></h3>
            <h3><%= image_tag 'https://image.tmdb.org/t/p/w342' + @movie['table']['poster_path'],class: "card-img" %></h3>
         </div>
        <%end%>
    </div>
    <div class="col-7">
        <h3><%= @movie['table']['overview'] %></h3>
        <% if @movie_info.favorited_by?(current_user) %>
          <%= link_to movie_favorites_path(@movie_info), method: :delete do %>
            <i class="fas fa-heart"></i>
            <%= @movie_info.favorites.count %></br>
          <% end %>
        <% else %>
          <%= link_to movie_favorites_path(@movie_info), method: :post do %>
            <i class="far fa-heart"></i>
            <%= @movie_info.favorites.count %></br>
          <% end %>
        <% end %>
        <%= link_to movies_path do %>
          <label class="btn btn-primary">戻る</label>
        <% end %>
    </div>
  </div>

</div>
