  <div class="rating-box mt-3">
    <%= form_with model:post,url: posts_path(post) ,method: :post do |f| %>
       <div class="form-group row" id="star">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',

    scoreName: 'comment[star]',
    half: false,
  });
  </script>
    <%= f.hidden_field :other_content_id, value: other_content.id %>
    <%= f.hidden_field :score, id: "rating-value" %>
    <%= f.text_area :comment %>
    <%= f.submit "保存", class: "button mt-3" %>
    <%= link_to "他のレビューを見る", posts_path, class: "button light ml-3 mt-3" %>
  <% end %>
</div>
