<div class="container">
  <div class="row m-3">
    <h3>
      <span class="bg-secondary px-2">コンテンツ詳細(映画以外)</span>
    </h3>
  </div>
  <div class="row m-3">
    <div class="col-3">
      <%= image_tag @other_content.get_image(320,240),class:"border border-dark" %>
    </div>
    <div class="col-7">
      <label>ジャンル</label>
      <%= @other_content.genre.name %></br>
      <label>タイトル</label>
      <%= @other_content.title %></br>
      <label>公開日時</label>
      <%= @other_content.release_date.to_date %></br>
      <% if @other_content.liked_by?(current_user) %>
                  <%= link_to other_content_likes_path(@other_content), method: :delete do %>
                    <i class="fas fa-heart"></i>
                    <%= @other_content.likes.count %></br>
                  <% end %>
                <% else %>
                  <%= link_to other_content_likes_path(@other_content), method: :post do %>
                    <i class="far fa-heart"></i>
                    <%= @other_content.likes.count %></br>
                  <% end %>
                <% end %>
        <%= link_to other_contents_path do %>
          <label class="btn btn-primary">一覧画面へ戻る</label>
        <% end %>
        <%= link_to edit_other_content_path(@other_content) do %>
          <label class="btn btn-success">編集する</label>
        <% end %>
    </div>
  </div>
  <div class="row m-3">
    <h3>
      <span class="bg-secondary px-2">コメント</span>
    </h3>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <p>コメント件数：<%= @other_content.othercontent_comments.count %></p>
        <% @other_content.othercontent_comments.each do |othercontent_comment| %>
          <p><%= image_tag othercontent_comment.user.get_image(100,100) %></p>
          <%= othercontent_comment.user.nickname %>
          <%= othercontent_comment.created_at.strftime('%Y/%m/%d') %><%= othercontent_comment.comment %>
          <% if othercontent_comment.user == current_user %>
            <%= link_to "削除", other_content_othercontent_comment_path(othercontent_comment.other_content, othercontent_comment), method: :delete,class:"btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@other_content, @othercontent_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" ,class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>