<div class="container">
  <div class="row m-3">
    <h3>
      <span class="bg-secondary px-2">コンテンツ詳細(映画以外)</span>
    </h3>
  </div>
  <div class="row m-3">
    <div class="col-3">
      <%= image_tag @other_content.get_image(320,240),class:"border border-dark" %>
    </div>
    <div class="col-7">
      <label>ジャンル</label>
      <%= @other_content.genre.name %></br>
      <label>タイトル</label>
      <%= @other_content.title %></br>
      <label>公開日時</label>
      <%= @other_content.release_date %></br>
      <%= link_to edit_other_content_path(@other_content.id) do %>
        <label class="btn btn-success">編集する</label>
      <% end %>


        <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: %">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                点（<%= @other_content.posts.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
      <%= render 'post_form', post: @post, other_content: @other_content %>

     

    </div>
  </div>
</div>