<h1>世界の映画一覧</h1>
<div class="container"><!-- container start -->
  <div class="pull-right">
    <%= form_tag(admin_movies_path, method: :get) do %>
      <%= search_field_tag :looking_for, nil, placeholder: 'Movie Title...' %>
      <%= submit_tag '検索' ,class:"btn btn-success" %>
    <% end %>
  </div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">タイトル名</th>
        <th scope="col">公開日時</th>
        <th scope="col">概要</th>
        <th scope="col">レビュー</th>
        <th scope="col">いいね</th>
        <th scope="col">コメント</th>
      </tr>
    </thead>
    <%if params[:looking_for].present? %>
    <% @results = JSON.parse((Tmdb::Search.movie(params[:looking_for])).to_json) %>
    <tbody>
      <h3><%= params[:looking_for] %>の検索結果</h3>
      <% @movies.each do |movie| %>
        <tr>
          <td><% if movie.title %><%= link_to movie.title, admin_movie_path(movie.name)%><% end %></td>
          <td><%= movie.releasedate %>　　</td>
          <!-- TODO:truncate(https://nllllll.com/ruby-on-rails/%E3%80%90rails%E3%80%91%E8%AA%AC%E6%98%8E%E6%96%87%E3%81%AA%E3%81%A9%E3%81%AE%E6%96%87%E5%AD%97%E3%81%AE%E8%A1%A8%E7%A4%BA%E6%95%B0%E3%82%92%E7%9C%81%E7%95%A5%E3%81%97%E3%81%A6%E5%88%B6%E9%99%90/)-->
          <td><%= movie.intro.truncate(40) %></td>
          <!--星レビュー表示-->
          <td>　　　　</td>
          <td>
            <% if movie.new_record? %>
              <%= form_with(model: movie, url: admin_favorites_path, method: :post, local: true) do |f| %>
                <%= f.hidden_field :name %>
                <%= f.hidden_field :title %>
                <%= f.hidden_field :intro %>
                <%= f.hidden_field :releasedate %>
                <%= 0 %>
                <%= f.submit class: "far fa-heart" %>
              <% end %>
            <% elsif movie.favorited_by?(current_user) %>
              <%= link_to admin_movie_favorites_path(movie), method: :delete do %>
                <i class="fas fa-heart"></i>
                <%= movie.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to admin_movie_favorites_path(movie), method: :post do %>
                <i class="far fa-heart"></i>
                <%= movie.favorites.count %>
              <% end %>
            <% end %>
          </td>
          <td>
            <p><%= link_to "　#{movie.movie_comments.count} 件　　", movie_path(movie) %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
    <% end %>
    <tbody>
      <h2>世界のトレンド映画</h2>
      <% @movies.each do |movie| %>
        <tr>
          <td>
            <% if movie.title %><%= link_to movie.title, admin_movie_path(movie.name)%><% end %>
          </td>
          <td><%= movie.releasedate %>　　</td>
          <!-- TODO:truncate(https://nllllll.com/ruby-on-rails/%E3%80%90rails%E3%80%91%E8%AA%AC%E6%98%8E%E6%96%87%E3%81%AA%E3%81%A9%E3%81%AE%E6%96%87%E5%AD%97%E3%81%AE%E8%A1%A8%E7%A4%BA%E6%95%B0%E3%82%92%E7%9C%81%E7%95%A5%E3%81%97%E3%81%A6%E5%88%B6%E9%99%90/)-->
          <td><%= movie.intro.truncate(40) %></td>
          <!--星レビュー表示-->
          <td>
            <div id="star-rate<%= movie.id %>"></div>
              <script>
                $('#star-rate<%= movie.id %>').raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half      : true,
                  readOnly: true,
                  score: <%= "#{movie.reviews.average(:star).to_f.round(1)}" %>,
                });
              </script>
          </td>
          <td>
            <% if movie.new_record? %>
              <%= form_with(model: movie, url: favorites_path, method: :post, local: true) do |f| %>
                <%= f.hidden_field :name %>
                <%= f.hidden_field :title %>
                <%= f.hidden_field :intro %>
                <%= f.hidden_field :releasedate %>
                <%= 0 %>
                <%= f.button type: :submit, style: 'border-style: none; background: none;' do %>
                 <i class="far fa-heart"></i>
                <% end %>
              <% end %>
          </td>
          <td>
            <% unless movie.new_record? %>
              <p><%= link_to "　#{movie.movie_comments.count} 件　　", movie_path(movie) %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @movies %>
</div><!-- container end -->
