<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <label for="user_name">NickName</label><br>
          <%= f.text_field :nickname %><br>
        </div>
        <div class="form-group">
          <label for="user_image">Image</label><br>
          <%= f.file_field :profile_image, accept: "image/*" %></br>
        </div>
        <div class="form-group">
          <label for="user_birthday">Birthday</label><br>
          <%= f.date_field :birthday, name: "user[birthday]" %>
        </div>
        <div class="form-group">
        <%= f.submit '更新する', class:"btn btn-secondary" %>
        </div>
        <div class="form-group">
          <%= link_to users_unsubscribe_path do %>
            <span class="btn btn-danger">退会する</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>