<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
        <%= image_tag @user.get_image(100,100) %>
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= @user.nickname %></th>
            </tr>
            <tr>
              <th>birthday</th>
              <th><%= @user.birthday.to_date %></th>
            </tr>
           </tbody>
        </table>
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_path(@user), class:'btn btn-outline-secondary btn-block' do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
    </div>
    <div class="col-md-8 offset-md-1"><!--other_content-->
      <h2>お気に入り(映画以外)</h2>
        <table class="table table-hover table-inverse">
          <thead class="thead-dark">
            <tr>
              <th>タイトル</th>
              <th>公開日時</th>
              <th>ジャンル</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <%if @likes.exists? %>
          <tbody>
            <% @likes.each do |like| %>
            <tr>
              <td><%= like.other_content.title %></td>
              <td><%= (like.other_content.release_date).to_date %></td>
              <td><%= like.other_content.genre.name %></td>
            </tr>
            <% end %>
          </tbody>
          <% elsif %>
          <tbody>
            <tr>
              <td>
               <div class="text-center">まだお気に入りはありません</div>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <h2>お気に入り(映画)</h2>
        <table class="table table-hover table-inverse">
          <thead class="thead-dark">
            <tr>
              <th>タイトル</th>
              <th>公開日時</th>
              <th>概要</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <%if @favorites.exists? %>
          <tbody>
            <% @favorites.each do |favorite| %>
            <tr>
              <td><%= favorite.movie.title %></td>
              <td><%= favorite.movie.releasedate %>　　</td>
              <td><%= favorite.movie.intro.truncate(40) %></td>
            </tr>
            <% end %>
          </tbody>
          <% elsif %>
          <tbody>
            <tr>
              <td>
               <div class="text-center">まだお気に入りはありません</div>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>